:root {
    /*colores obscuros*/
    --header1: #282828;
    --boton1_2:#414141;
    --logo1: #E31E23;
    --fondText: #665A54;
    --boton1_1: #E6612A;

  
    /*colores claros*/
    --formu: #2FB8DC;
    --text2: #BCC1CA;
    --botons: #97D7EA;
    --logo2: #ED8A64;
    --logo3: #767676;
    --headerText: #919191;
    --claro: #fff;
    --claro2: #eeecec;
  
}
.formulario{
    display: flex;
    flex-direction: column;
    margin: 25px;
   
}
.titulo{
    padding-bottom: 25px;
    font-size: 2rem;
    
}
.datper{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    border: solid 1px #767676;
    padding: 20px;
  
}